<header>
	<a href="/"><h1 id = "site_name">Blog</h1></a>
	<h3 id = "slogan">Just another blog</h3>
	<% if @logged_in == false %>
		<div id = "log_or_links"> <a  href="/login">Log In</a> </div>
	<% else %>
		<div id = "log_or_links"> <a href= <%= "/logout" %> >Log out</a> </div>
	<% end %>
		<div id = "log_or_links"><a href= <%= "/create" %>> New Post</a></div>
</header>

<div id = "user_body">
	<h1> <%= @user.name.capitalize + "'s Profile"%></h1>
	<h3>My posts</h3>
	<% @user.posts.reverse.each {|post| %>
		<div id = "post">
		  <a  id = "title" href= <%="/post/"+ post.id.to_s %> >  <%= post.title %> </a> 
		  <a id = "submitter" href= <%="/user/"+ post.user.name %> >  by <%= post.user.name %> </a> 
		</div>
	<% } %>
</div>